@import "normalize.scss";

// === Mixins ===
@mixin font-main {
   font-family: "Montserrat", sans-serif;
}
@mixin font-secondary {
   font-family: "Roboto", sans-serif;
}
@mixin font-headers {
   font-family: "Kaushan Script", cursive;
}
// === /Mixins ===

// === Variables ===
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
// === /Variables ===

// === Common ===
ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
* {
   box-sizing: border-box;
   outline-color: #f38181;
}

body {
   @include font-main;
   overflow-x: hidden;
}

.container {
   width: 100%;
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}

.header {
   text-align: center;
   width: 100%;
   max-width: 950px;
   margin: 0 auto 50px;

   &__title {
      @include font-headers;

      font-size: 24px;
      font-weight: 700;
      margin-bottom: 22px;
   }
   &__subtitle {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;

      &::after {
         content: "";
         display: block;
         width: 60px;
         height: 3px;
         background-color: #f38181;
         margin: 45px auto;
      }
   }

   &__text {
      @include font-secondary;

      color: #999999;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
   }

   @media (max-width: $screen-sm) {
      &__subtitle {
         font-size: 20px;

         &::after {
            width: 40px;
         }
      }
   }
}
// === /Common ===

// === Header ===
.section-header {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 5;
   color: #ffffff;
   padding-top: 30px;

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__logo {
      font-size: 30px;
      font-weight: 700;
      padding-bottom: 12px;
   }
   .nav {
      cursor: pointer;
      font-size: 18px;
      text-transform: uppercase;
      &__link {
         text-decoration: none;
         color: #fff;
         transition: color 0.2s linear;

         &:hover {
            color: #fce38a;
         }
         // &:hover::after {
         //    content: "";
         //    display: block;
         //    width: 100%;
         //    height: 3px;
         //    background-color: #fce38a;
         //    opacity: 1;
         //    margin-top: 5px;
         // }

         &:not(:first-child) {
            margin-left: 40px;
         }
      }
   }
   .button-toggle {
      display: none;
      width: 30px;
      padding: 12px 0;
      position: absolute;
      top: 40px;
      right: 38px;
      z-index: 1;
      background: none;
      border: none;
      font-size: 0;
      color: transparent;
      cursor: pointer;

      &:focus {
         outline: none;
      }

      &__item {
         border-bottom: 1px solid #fff;
         &::before {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #ffffff;
            position: absolute;
            left: 0;
            top: -1px;
            transition: transform 0.2s;
         }
         &::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #ffffff;
            position: absolute;
            left: 0;
            bottom: -1px;
         }
      }
   }

   @media (max-width: $screen-lg) {
      .nav {
         display: none;
         width: 100%;
         position: absolute;
         top: 100%;
         left: 0;
         background-color: #eb8b8d;
      }
      .nav.active {
         display: flex;
         flex-direction: column;
         .nav__link {
            margin: 10px 10px;
            &:first-child {
               margin-top: 10px;
            }
         }
      }
      .button-toggle {
         display: block;
      }
      .button-toggle.active {
         transition: transform 0.2s;
         .button-toggle__item {
            border-color: transparent;
            &::before {
               transform-origin: left top;
               transform: rotate(45deg) translate(5px, -1px);
            }
            &::after {
               transform-origin: left bottom;
               transform: rotate(-45deg) translate(5px, 1px);
            }
         }
      }
   }
}

// === /Header ===

// === Intro ===
.section-intro {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100vh;
   color: #ffffff;
   padding: 175px 0;
   background: url(/img/intro.jpg) no-repeat 50% 50%;
   background-size: cover;

   &__inner {
      text-align: center;
      width: 100%;
      max-width: 880px;
      margin: 0 auto;
   }

   &__title {
      @include font-headers;
      font-size: 72px;
      font-weight: 400;
      margin-bottom: 42px;
   }

   &__subtitle {
      font-size: 150px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 10px;

      &:after {
         content: "";
         display: block;
         width: 60px;
         height: 3px;
         margin: 60px auto;
         background: #ffffff;
      }
   }
   &__button {
      color: #ffffff;
      border: 3px solid #ffffff;
      background-color: rgba($color: #ffffff, $alpha: 0);
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
      padding: 15px 33px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
         background-color: #ffffff;
         color: #000000;
      }
   }

   .slider {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      &__body {
      }
      &__content {
         display: flex;
         align-items: center;
         justify-content: space-between;
         opacity: 0.7;
         list-style: none;
      }
      &__item {
         display: block;
         width: 23%;
         padding: 20px 0;
         position: relative;
         border-top: 3px solid #fff;
         opacity: 0.7;
         font-size: 18px;
         color: #fff;
         text-transform: uppercase;

         &--active {
            opacity: 1;

            &:before {
               content: "";
               display: block;
               width: 70px;
               height: 3px;
               position: absolute;
               background-color: #f38181;
               top: -3px;
               left: 0;
               z-index: 1;
            }
         }
      }
      &__num {
         font-size: 24px;
         font-weight: 700;
      }
      &__text {
      }
   }
   @media (max-width: $screen-lg) {
      &__subtitle {
         font-size: 130px;
      }
   }
   @media (max-width: $screen-md) {
      &__title {
         font-size: 50px;
      }
      &__subtitle {
         font-size: 120px;
      }
   }
   // !!!
   @media (max-width: 710px) {
      &__subtitle {
         font-size: 100px;
      }
      .slider {
         &__text {
            font-size: 15px;
         }
      }
   }
   // !!!
   @media (max-width: 595px) {
      &__subtitle {
         font-size: 80px;
      }
   }
   @media (max-width: $screen-sm) {
      &__title {
         font-size: 28px;
      }
      &__subtitle {
         font-size: 40px;
         &:after {
            margin: 30px auto;
            width: 40px;
         }
      }
      &__button {
         padding: 10px 20px;
         font-size: 10px;
      }
      .slider {
         &__item {
            font-size: 8px;
            width: 23%;
         }

         &__item--active {
            &:before {
               width: 30px;
            }
         }
         &__text {
            display: none;
         }
      }
   }
}

// === About ===
.section-about {
   padding-top: 90px;
   padding-bottom: 110px;

   .cards-about {
      display: flex;
      justify-content: space-between;
      margin: 50px auto 0;

      &__item {
         // width of each element
         width: 33.33333%;
         margin: 0 15px;
         position: relative;
         background-color: #95e1d3;

         &:hover {
            .cards-about {
               &__text {
                  opacity: 1;
               }
               &__wrap {
                  //shift our image and background to these coordinates
                  transform: translate3d(-10px, -10px, 0);
               }
               &__img {
                  //make the picture opacity < 1 so that the background is visible
                  opacity: 0.1;
               }
            }
         }
      }

      &__wrap {
         //create background for our image
         background: linear-gradient(to bottom, #f38181, #fce38a);
         transition: transform 0.2s linear;
      }

      &__img {
         display: block;
         max-width: 100%;
         height: auto;
      }

      &__text {
         font-size: 18px;
         font-weight: 700;
         text-transform: uppercase;
         color: #fff;
         opacity: 0;

         width: 100%;
         position: absolute;
         top: 50%;
         left: 0;
         text-align: center;
         z-index: 2;

         transform: translate3d(0, -50%, 0);
         transition: opacity 0.2s linear;
      }
   }

   @media (max-width: $screen-sm) {
      .cards-about {
         flex-direction: column;
         align-items: center;
         &__item {
            width: 100%;
            max-width: 380px;
            margin: 15px 0;
         }
      }
   }
}
// === /About ===

// === Statistic ===
.section-statistic {
   background-color: #95e1d3;
   .stat {
      display: flex;
      flex-wrap: wrap;
      &__items {
         flex: 1 1 0;
         text-align: center;
         padding: 70px 35px;
         border-left: 1px solid #b5eae0;
         color: #fff;

         &:last-child {
            border-right: 1px solid #b5eae0;
         }
      }
      &__number {
         font-size: 72px;
         font-weight: 700;
         text-transform: uppercase;
         margin-bottom: 10px;
      }
      &__text {
         font-size: 14px;
         font-weight: 400;
         text-transform: uppercase;
      }
   }

   @media (max-width: $screen-md) {
      .stat {
         justify-content: center;
         &__items {
            flex: none;
            border: none;
            &:last-child {
               border-right: none;
            }
         }
      }
   }
   @media (max-width: 845px) {
      .stat {
         &__items {
            border: none;

            &:last-child {
               border-right: none;
            }
         }
      }
   }
   @media (max-width: $screen-sm) {
      .stat {
         flex-direction: column;
         &__items {
            border: none;
            border-bottom: 1px solid #b5eae0;

            &:last-child {
               border-right: none;
            }
         }
      }
   }
}
// === /Statistic ===

// === Services ===
.section-services {
   padding-top: 120px;
   padding-bottom: 120px;
}

.services {
   display: flex;
   flex-wrap: wrap;
   position: relative;
   justify-content: center;
   &__items {
      display: flex;
      flex-direction: row;
      width: 33.333%;
      padding: 0 50px 40px 60px;
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 40px;

      &:nth-child(n + 4) {
         border-bottom: none;
      }
   }
   &__icon {
      padding-right: 20px;
   }

   &__title {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 18px;
   }
   &__text {
      @include font-secondary;

      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      color: #999999;
   }

   @media (max-width: $screen-lg) {
      .services {
         justify-content: center;
         &__items {
            width: 42%;
            border: none;
            padding: 0;
         }
         &__content {
         }
      }
   }

   @media (max-width: $screen-md) {
      .services {
         position: relative;
         &__items {
            width: 100%;
            max-width: 480px;
            padding: 0 20px 20px 20px;
            flex-direction: column;
            border: none;
         }
         &__icon {
            position: absolute;
         }
         &__content {
            padding-left: 60px;
         }
      }
   }
}
// === /Services ===

// === Design ===
.section-design {
   color: #333333;
   background: url(/img/devices-bg.jpg) no-repeat 50% 50%;
   background-size: cover;
   margin-bottom: 110px;
   .header {
      padding-top: 110px;
   }

   .devices {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      position: relative;

      &__item {
         max-width: 100%;
         &-iphone {
            position: absolute;
            bottom: -80px;
            right: 0;
            z-index: 1;
         }
      }
   }
   @media (max-width: $screen-md) {
      .devices {
         max-width: 400px;
         &__item {
            &-iphone {
               height: 90%;
               bottom: -80px;
               right: -130px;
            }
         }
      }
   }
   @media (max-width: $screen-sm) {
      .devices {
         max-width: 200px;
         &__item {
            &-iphone {
               height: 90%;
               bottom: -50px;
               right: -80px;
            }
         }
      }
   }
}
// === /Design ===

// === Wedo ===
.section-wedo {
   padding: 80px 0;
   .wedo-body {
      display: flex;

      &__img {
         max-width: 100%;
         display: block;
         height: auto;
      }

      &__item {
         width: 50%;
         padding: 0 15px;

         .accordion {
         }

         .accordion-item {
            &:not(last-child) {
               margin-bottom: 10px;
            }

            &--active .accordion-item__trigger {
               &::after {
                  transform: rotate(-45deg);
               }
            }
            &--active .accordion-item__content {
               display: block;
            }

            &__trigger {
               display: flex;
               align-items: center;
               border: 1px solid #999999;
               position: relative;
               padding: 15px 20px;
               transition: transform 0.2s;

               &::after {
                  content: "";
                  display: block;
                  width: 16px;
                  height: 16px;
                  position: absolute;
                  top: 40%;
                  right: 20px;
                  z-index: 1;
                  border-top: 3px solid #999999;
                  border-right: 3px solid #999999;
                  cursor: pointer;
                  transform: translateY(-50%) rotate(135deg);
               }
            }

            &__title {
               font-size: 14px;
               font-weight: 400;
               text-transform: uppercase;
               margin-left: 20px;
            }

            &__content {
               @include font-secondary;

               color: #999999;
               font-size: 15px;
               font-weight: 400;
               line-height: 24px;
               border: 1px solid #999999;
               border-top: none;
               padding: 15px 20px;
               margin-top: -1px;
               display: none;
               // height: 0;
               overflow: hidden;
               transition: display 0.3s;
            }
         }
      }
   }

   @media (max-width: $screen-sm) {
      .wedo-body {
         flex-direction: column;
         &__item {
            width: 100%;

            &:first-child {
               margin-bottom: 20px;
            }
         }
      }
   }
}
// === /Wedo ===

// === Comment ===
.section-comment {
   background-color: #f8f8f8;
   padding-top: 120px;
   padding-bottom: 100px;

   .slider-body {
      display: flex;
      padding: 0 110px;
      position: relative;

      &__btn {
         display: block;
         border: 0;
         font-size: 0;
         background: none;
         color: transparent;
         cursor: pointer;
         position: absolute;
         top: 50%;
         z-index: 1;

         &::after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border-top: 2px solid #ccc;
            border-left: 2px solid #ccc;
         }

         &:focus {
            outline: none;
         }
      }

      .btn-next {
         right: 0;
         transform: rotate(135deg);
      }
      .btn-prev {
         left: 0;
         transform: rotate(-45deg);
      }
   }
   .slider-container {
      overflow: hidden;
   }
   .slider-track {
      display: flex;
      transition: 0.5s;
   }
   .slider-item {
      display: flex;
      &__icon {
         color: #95e1d3;
         font-size: 70px;
         padding-right: 30px;
         text-align: center;
      }
      &__image {
         padding-right: 20px;
      }
      &__content {
      }
      &__text {
         margin-bottom: 15px;
         font-size: 24px;
         font-style: italic;
         font-weight: 300;
         color: #999;
      }
      &__author {
         @include font-headers;

         font-size: 30px;
         color: #333;

         &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 60px;
            height: 3px;
            background-color: #f38181;
            margin-right: 10px;
         }
      }
   }

   @media (max-width: $screen-md) {
      .slider-item {
         flex-direction: column;
         &__icon {
            padding: 0;
            padding-bottom: 10px;
         }
         &__text {
            text-align: center;
            font-size: 20px;
         }
         &__author {
            font-size: 20px;
            &::before {
               width: 40px;
            }
         }
      }
   }
   @media (max-width: $screen-sm) {
      .slider-item {
         flex-direction: column;
         &__icon {
            font-size: 30px;
            padding: 0;
            padding-bottom: 10px;
         }
         &__text {
            text-align: center;
            font-size: 14px;
         }
         &__author {
            font-size: 14px;
            &::before {
               width: 20px;
            }
         }
      }
   }
}
// === /Comment ===

// === Team ===
.section-team {
   padding: 80px 0;

   .team-cards {
      margin: 80px -15px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &__items {
         width: 33.333%;
         padding: 0 15px;
      }

      &__inner {
         position: relative;
         background-color: #95e1d3;

         &:hover {
            .team-cards {
               &__frame {
                  transform: translate3d(-10px, -10px, 0);
               }
               &__image {
                  opacity: 0.1;
               }
               &__text {
                  opacity: 1;
               }
            }
         }
      }

      &__frame {
         background: linear-gradient(to bottom, #f38181, #fce38a);
         transition: transform 0.2s linear;
      }

      &__image {
         display: block;
         max-width: 100%;
         height: auto;
         transition: opacity 0.1s linear;
      }

      &__text {
         width: 100%;
         position: absolute;
         top: 50%;
         left: 0;
         text-align: center;
         z-index: 2;
         opacity: 0;
         transition: opacity 0.2s linear;

         .team-social {
            display: flex;
            justify-content: center;
            &__item {
               width: 55px;
               height: 55px;
               font-size: 30px;
               background-color: #fce38a;
               padding: 12px 10px;
               color: #f38181;
               text-decoration: none;
               border-right: 1px solid #f38181;

               transform: translate3d(0, -50%, 0);
               transition: background 0.1s linear, color 0.1s linear;

               &:last-child {
                  border-right: none;
               }

               &:hover {
                  background-color: #f38181;
                  color: #ffffff;
               }
            }
         }
      }

      &__content {
         padding-top: 20px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }

      &__name {
         margin-bottom: 5px;
         font-size: 14px;
         color: #333;
         text-transform: uppercase;
      }
      &__pos {
         @include font-secondary;

         font-size: 15px;
         font-style: italic;
         font-weight: 300;
         color: #999;
      }
   }
   @media (max-width: $screen-md) {
      .team-cards {
         &__name {
            font-size: 12px;
         }
      }
   }
   @media (max-width: $screen-sm) {
      .team-cards {
         flex-direction: column;
         align-items: center;
         &__items {
            width: 100%;
            max-width: 380px;
            margin-bottom: 10px;
         }
      }
   }
}
// === /Team ===

// === Sponsor ===
.section-sponsor {
   background-color: #f8f8f8;
   padding: 80px 0;
   .sponsor-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__item {
      }
      &__img {
         display: block;
         max-width: 100%;
         height: auto;
      }
   }
   @media (max-width: $screen-sm) {
      .sponsor-logo {
         flex-wrap: wrap;
         justify-content: center;
         &__item {
            width: 50%;
            margin-bottom: 20px;
         }
         &__img {
            margin: 0 auto;
         }
      }
   }
}

// === /Sponsor ===

// === Work ===
.section-work {
   padding-top: 110px;
   padding-bottom: 100px;

   .work-body {
      display: flex;
      &__col {
         flex: 1 1 0;
      }
      &__item {
         background: linear-gradient(to bottom, #f38181, #fce38a);
         position: relative;
         transition: transform 0.1s linear;

         &:hover {
            // transform: translate3d(-10px, -10px, 0);
            .work-body {
               &__item {
                  transform: translate3d(-10px, -10px, 0);
               }
               &__img {
                  opacity: 0.1;
               }

               &__info {
                  opacity: 1;
               }
            }
         }
      }
      &__img {
         display: block;
         max-width: 100%;
         height: auto;
         transition: opacity 0.1s linear;
      }
      &__info {
         width: 100%;
         position: absolute;
         top: 50%;
         left: 0;
         text-align: center;
         color: #fff;
         opacity: 0;

         transform: translate3d(0, -50%, 0);
         transition: opacity 0.1 linear;
      }
      &__icon {
         font-size: 20px;
         color: #fff;
      }
      &__title {
         margin: 5px 0;
         font-size: 12px;
         font-weight: bold;
         text-transform: uppercase;
      }
      &__text {
         @include font-secondary;

         font-size: 10px;
         font-weight: 300;
         font-style: italic;
      }
   }
   @media (max-width: $screen-md) {
      .work-body {
         flex-wrap: wrap;
         &__col {
            width: 50%;
            flex: none;
         }
      }
   }
   @media (max-width: $screen-sm) {
      .work-body {
         flex-direction: column;
         align-items: center;
         &__col {
            max-width: 480px;
            width: 100%;
         }
      }
   }
}
// === /Work ===

// === Comment 2 ===
// .section-comment-2 {
//    padding: 80px 0;
// }
// .comment-body__image {
//    border: 3px solid #95e1d3;
//    border-radius: 50%;
//    margin-right: 30px;
// }
// === /Comment 2 ===

// === Clients ===
.section-clients {
   background: url(../img/clients-bg.jpg) no-repeat 50% 50%;
   background-size: cover;
   padding-bottom: 80px;

   .header {
      padding-top: 100px;
   }
   .client {
      display: flex;
      flex-wrap: wrap;
      margin-top: 70px;
      &__item {
         display: flex;
         width: 50%;
         padding: 0 50px 0 175px;
         margin-bottom: 60px;
      }
      &__image {
         padding-right: 20px;
      }
      &__content {
         display: flex;
         flex-direction: column;
      }
      &__name {
         margin-bottom: 5px;
         font-size: 14px;
         color: #333;
         text-transform: uppercase;
      }
      &__pos {
         @include font-secondary;

         font-size: 15px;
         color: #333;
         font-style: italic;
         font-weight: 300;
         margin-bottom: 5px;
      }
      &__text {
         @include font-secondary;

         font-size: 15px;
         color: #999;

         &::before {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            background-color: #f38181;
            margin: 15px 0;
         }
      }
   }
   @media (max-width: 1150px) {
      .client {
         &__item {
            padding: 0;
         }
      }
   }
   @media (max-width: $screen-lg) {
      .client {
         &__item {
            padding: 0;
         }
      }
   }
   @media (max-width: $screen-md) {
      .client {
         &__item {
            padding: 0;
         }
      }
   }
   @media (max-width: $screen-sm) {
      .client {
         &__item {
            width: 100%;
            padding: 0;
            align-items: center;
         }
      }
   }
}
// === /Clients ===

// === Blog ===
.section-blog {
   padding-top: 100px;
   padding-bottom: 110px;
   .blog {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &__items {
         width: 31%;
      }
      &__header {
         position: relative;
         margin-bottom: 20px;
      }
      &__image {
         display: block;
         max-width: 100%;
         height: auto;
      }
      &-data {
         position: absolute;
         padding: 10px 20px;
         background-color: #95e1d3;
         bottom: 10px;
         left: -10px;
         z-index: 1;
         text-align: center;
         color: #fff;
         &__num {
            font-size: 30px;
            line-height: 1;
            font-weight: 700;
            font-style: normal;
         }
         &__month {
            @include font-secondary;
         }
      }
      &__content {
      }

      &__title {
         font-size: 14px;
         margin-bottom: 10px;
         text-transform: uppercase;
         &-link {
            color: inherit;
            text-decoration: none;
         }

         &:hover {
            text-decoration: underline;
         }
      }
      &__text {
         @include font-secondary;

         font-size: 15px;
         line-height: 1.6;
         color: #999;

         &:after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #eae6e6;
            margin-top: 10px;
         }
      }
      &-stat {
         margin-top: 10px;
         display: flex;

         &__icon {
            color: #95e1d3;
            margin-right: 5px;
         }
         &__text {
            color: #999;
            font-style: italic;
            align-self: center;
            font-size: 15px;
            margin-right: 10px;
         }
      }
   }

   @media (max-width: $screen-sm) {
      .blog {
         max-width: 380px;
         flex-direction: column;
         margin: 0 auto;

         &__items {
            width: 100%;
            margin-bottom: 20px;
         }
      }
   }
}
// === /Blog ===

// === Map ===
.section-map {
}

.map-content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-bottom: 50px;

   &__icon {
      font-size: 30px;
      color: #f38181;
      margin-bottom: 10px;
   }
   &__text {
   }
   &__item {
      color: #f38181;
      text-decoration: none;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;

      &:hover {
         text-decoration: underline;
      }

      &::after {
         content: "";
         display: block;
         width: 60px;
         height: 3px;
         background-color: #f38181;
         margin: 20px auto 0;
      }
   }
}
// === /Map ===

// === Footer ===
.section-footer {
   padding-top: 65px;
   background-color: #f8f8f8;
}

.footer-body {
   display: flex;
   justify-content: space-between;
   padding-bottom: 65px;
}

.footer-follow {
   width: 40%;
   padding: 0 15px;
   &__logo {
      font-size: 46px;
      font-weight: 700;
      color: #ccc;
      margin-bottom: 30px;
   }
   &__text {
      margin-bottom: 30px;
      font-size: 15px;
      color: #999;
   }
}
.follow-stat {
   display: flex;
   align-items: center;
   padding-bottom: 15px;
   border-bottom: 1px solid #e5e5e5;
   &__num {
      font-size: 18px;
      font-weight: 700;
      margin-right: 5px;
   }
   &__text {
      font-size: 12px;
   }
}
.footer-links {
   display: flex;
   margin-top: 15px;
   &__text {
      font-size: 15px;
      color: #999;
      font-style: italic;
      font-weight: 300;
   }
   &__link {
      color: #95e1d3;
      text-decoration: none;
      transition: color 0.2s linear;
      &:hover {
         color: #f38181;
      }
   }
   &__icon {
      padding-left: 10px;
      font-size: 18px;
   }
}

.footer-subscribe {
   margin-top: 15px;
   display: flex;
   &__input {
      width: 50%;
      border: none;
      border-right: 0;
      text-decoration: none;
      font-size: 15px;
      line-height: 1.1;
      color: #333;
      font-style: italic;
      font-weight: 300;

      &::placeholder {
         color: #999;
      }
      &:focus {
         outline: 0;
         border-color: #95e1d3;
         background: rgba(255, 255, 255, 0.5);
      }
   }
   &__button {
      width: 60%;
      height: 40px;
      background-color: #95e1d3;
      padding: 12px 30px;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      border: none;
      outline: 0;
      transition: 0.2s;

      &:hover {
         background-color: #f38181;
      }
   }
}

.footer-blog {
   width: 29%;
   padding: 0 15px;
   &__title {
      margin: 30px 0;
      font-size: 14px;
      color: #333;
      text-transform: uppercase;
   }
   &__content {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
   }
   &__image {
      width: 120px;
      height: 80px;
   }
   &__inner {
      padding-left: 20px;
   }
   &__text {
      padding-bottom: 10px;
   }
   &__item {
      font-size: 12px;
      text-decoration: none;
      color: #333;
   }
   &__data {
      font-size: 12px;
      color: #999;
      font-style: italic;
      font-weight: 300;
   }
}

.footer-instagram {
   width: 22%;
   padding: 0 15px;
   &__title {
      margin: 30px 0;
      font-size: 14px;
      color: #333;
      text-transform: uppercase;
   }
   &__content {
      display: flex;
      flex-wrap: wrap;
   }
   &__link {
      width: 33%;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
   }
   &__item {
      display: block;
      max-width: 100%;
      height: auto;
   }
}

.footer-copyright {
   padding: 20px 0;
   border-top: 1px solid #e5e5e5;
   font-size: 14px;
   color: #333;
   text-align: center;
   &__author {
      color: #f38181;
   }
}
@media (max-width: $screen-lg) {
   .footer-follow {
      width: 100%;
   }
   .footer-blog {
      width: 50%;
   }
   .footer-instagram {
      width: 50%;
   }
}
@media (max-width: $screen-md) {
   .footer-subscribe {
      &__button {
         width: 52%;
         padding: 0;
      }
   }
   .footer-instagram {
      width: 50%;
      &__link {
         width: 29%;
      }
   }
}
@media (max-width: 700px) {
   .footer-body {
      flex-direction: column;
   }
   .footer-follow {
      width: 100%;
   }
   .footer-subscribe {
      &__button {
         padding: 0;
      }
   }
   .footer-blog {
      width: 100%;
   }
   .footer-instagram {
      width: 50%;
      &__link {
         width: 29%;
      }
   }
}
// === /Footer ===
